[submodule "_raw"]
	path = _raw
	url = git@liulantao.github.com:oucafe/oucafe.github.io.git
	branch = raw
[submodule "_crawler"]
	path = _crawler
	url = git@liulantao.github.com:oucafe/oucafe.github.io.git
	branch = crawler
[submodule "_site"]
	path = _site
	url = git@liulantao.github.com:IFTTI/iftti.github.com.git
	branch = master
