---
layout: default
---

<div class="home">

  {% if paginator.page == 1 %}
  <h1>Posts</h1>
  {% endif %}

  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="source-url">{{ post.site_name }}<a href="{{ post.source_url }}" target="_blank">☑︎</a></span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  {% include layout/pagination.html %}
</div>
